@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

:root {
    --radius: 15px;
    --app-width: 600px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('wallpaper/bgtest.jpg') center;
    background-size: cover;
}

.app {
    color: #ffffffb0;
    box-shadow: 0 15px 40px - 20px black;
    width: var(--app-width);
    padding: 2rem;
    border-radius: var(--radius);
    background: #ffffff21;
}

.app h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 28px;
}

.completed-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.todo-input {
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: var(--radius);
    padding: 1rem 1.5rem;
    font-size: 20px;
    background: #f4f4f425;
    color: white;
}

.todo-input::placeholder {
    color: #ffffff70
}

.todos,
.completed-todos,
.uncompleted-todos {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.completed-todos .todo-item {
    background-color: #a57b6f;
    text-decoration: line-through;
}

.empty {
    text-align: center;
    opacity: 0.5;
}

.todo-item {
    padding: 1rem 1.5rem;
    background: #ffe2e2bd;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(58, 12, 12);
}

.todo-item span {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.todo-item input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: rgb(111, 45, 30);
}

.todo-item a {
    color: #2a2626;
}

.todo-item a svg {
    pointer-events: none;
}